<!DOCTYPE html>
<html lang="de">
    <head>
        {{! Document Settings }}
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        {{! Page Meta }}
        <title>{{meta_title}} :: {{meta_description}}</title>
        <meta name="description" content="{{meta_description}}" />

        <meta name="HandheldFriendly" content="True" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,600,300" rel="stylesheet" type="text/css">

        <link rel="author" href="https://plus.google.com/+EricRange/">
        <link rel="shortcut icon" href="{{asset "favicon.ico"}}">
        <link rel="icon" type="image/png" href="{{asset "favicon.png"}}">

        {{! Styles'n'Scripts }}
        <link rel="stylesheet" type="text/css" href="{{asset "css/prefixed.defaults.min.css"}}" />
        <link rel="stylesheet" type="text/css" href="{{asset "css/prefixed.styles.min.css"}}" />

        {{! Custom: ghost_head}}
        <link rel="canonical" href="{{@blog.url}}{{url}}">
        <link rel="alternate" type="application/rss+xml" title="Eric Range" href="/rss/">
        {{! Ghost outputs important style and meta data with this tag }}
        {{! ghost_head}}
    </head>
    <body class="{{body_class}}">

        {{! Everything else gets inserted here }}
        {{{body}}}

        {{! Ghost outputs important scripts and data with this tag }}
        {{ghost_foot}}

        <script type="text/javascript" src="{{asset "js/scripts.min.js"}}"></script>
        <script type="text/javascript">
        var _na={}; _na.id="5425bb20b5eaa94410f122e3"; _na.host="54.72.134.21:3030/"; (function() { var u=(("https:"==document.location.protocol)?"https://":"http://")+_na.host; var d=document,g=d.createElement('script'),s=d.getElementsByTagName('script')[0];g.type='text/javascript'; g.defer=true;g.async=true;g.src=u+'track.js';s.parentNode.insertBefore(g,s);})();
        </script>
    </body>
</html>
