{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

<nav class="main-nav clearfix">
    <a class="back-button icon-arrow-left" href="/">Home</a>
    {{> "rss"}}
</nav>

<main class="content" role="main">

    <article class="{{post_class}}" itemscope itemType="http://schema.org/BlogPosting">
    {{! Everything inside the #post tags pulls data from the post }}
    {{#post}}

        <header class="post-header">
            <h1 class="post-title" itemprop="headline">{{title}}</h1>
            <div class="post-meta">
                <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}" itemprop="datePublished">{{date format="DD. MMMM YYYY"}}</time> <span class="tags" itemprop="keywords">{{tags prefix=" in "}}</span> von <span class="author">{{author.name}}</span>
            </div>
        </header>

        <section class="post-content" itemprop="articleBody">
            {{content}}
        </section>

        <footer role="contentinfo" class="post-footer">

        {{! Everything inside the #author tags pulls data from the author }}
        <section class="author" itemprop="author">
            <div itemscope itemtype="http://schema.org/Person">
                {{#author}}

                    {{#if image}}
                    <figure class="author-image" itemprop="image">
                        <a class="img" href="{{url}}" style="background-image: url({{image}})"><span class="hidden">{{name}}'s Picture</span></a>
                    </figure>
                    {{/if}}


                        <h4><a href="{{url}}" itemprop="name">{{name}}</a></h4>

                        {{#if bio}}
                            <p>{{bio}}</p>
                        {{else}}
                            <p>Read <a href="{{url}}">more posts</a> by this author.</p>
                        {{/if}}
                        <div class="author-meta">
                            {{#if location}}<span class="author-location icon-location" itemprop="homeLocation">{{location}}</span>{{/if}}
                            {{#if website}}<span class="author-link icon-link"><a href="{{website}}">{{website}}</a></span>{{/if}}
                        </div>

                {{/author}}
            </div>
        </section>

            <section class="share">
                <h4>Beitrag teilen</h4>
                <a class="icon-twitter" href="https://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}"
                    onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                    <span class="hidden">Twitter</span>
                </a>
                <a class="icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
                    onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
                    <span class="hidden">Facebook</span>
                </a>
                <a class="icon-google-plus" href="https://plus.google.com/share?url={{url absolute="true"}}"
                   onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
                    <span class="hidden">Google+</span>
                </a>
            </section>

        </footer>

    {{/post}}
    </article>

</main>
