{{! Previous/next page links - only displayed on page 2+ }}
<div class="extra-pagination inner">
    {{pagination}}
</div>

{{! This is the post loop - each post will be output using this markup }}
{{#foreach posts}}
<article role="article" class="{{post_class}}" itemscope itemType="http://schema.org/BlogPosting">
    <header class="post-header">
        <h2 class="post-title"><a href="{{url}}" itemprop="headline">{{{title}}}</a></h2>
    </header>
    <p class="post-excerpt" itemprop="description">{{excerpt words="25"}} <a class="read-more" href="{{url}}">&raquo;</a></p>
    <footer class="post-meta">
        <span class="author" itemprop="author">
            {{#if author.image}}<img class="author-thumb" src="{{author.image}}" alt="Author image"/>{{/if}}
            {{author}}
        </span>
        <span class="tags" itemprop="keywords">{{tags prefix=" on "}}</span>
        <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}" itemprop="datePublished">{{date format="DD MMMM YYYY"}}</time>
    </footer>
</article>
{{/foreach}}

{{! Previous/next page links - displayed on every page }}
{{pagination}}
